<div class="container-fluid" style="overflow-x: auto;">
<div class="row justify-content-center" >  
  <div class="col-lg-8 mt-2" id="booking-container">
    <div class="container text-center">
      <h1 class="text-dark" style="font-weight: bold;"> Create your Task</h1>
    </div>
    <%= render 'form' %>
  </div>
</div>
</div>